@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  -webkit-tap-highlight-color: transparent;
}

.rhap_container {
  padding: 0;
  width: 8%;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: none;
}

.rhap_controls-section {
  position: relative;
  bottom: 4px;
  display: flex;
  justify-content: center;
}

/* Pagination library */
.pagination {
  display: flex;
  justify-content: space-around;
  background-color: rgb(0, 0, 0, 0.5);
  border-radius: 0.6rem;
  color: white;
  margin: 3rem;
  width: 60%;
  font-weight: 500;
  padding: 0.3rem;
  font-size: 1.03rem;
  outline: none;
}

.active {
  padding: 0 8px 0 8px;

  color: rgb(255, 255, 40);
}

.disabled {
  color: gray;
}

@media screen and (max-width: 640px) {
  .pagination {
    width: 90%;
    font-size: 0.9rem;
  }
}

@media screen and (561 <= width <= 1024px) {
  .pagination {
    width: 80%;
    font-size: 0.92rem;
  }
}
